@mixin Flex($position) {
  display: flex;
  justify-content: $position;
  align-items: center;
}

@mixin FlexColumn($verticalPosition, $horizontalPosition) {
  display: flex;
  flex-direction: column;
  justify-content: $verticalPosition;
  align-items: $horizontalPosition;
}

@mixin BasicGrid($justify:center, $align:center) {
	display: flex;
  flex: 1;
  &__game {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align; 
  }
  &__instruction {
    flex-basis: rem(265);
    border-left: 5px solid $black;
  }
}

@mixin Instruction($levels: false, $colors: false) {
  padding: 0 rem(10);
  &__mainBtns  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__controls, &__time, &__levels {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem(10) 0;
  }
  &__title {
    margin-bottom: rem(10);
    font-size: rem(30);
    text-align: center;
  }
  &__text {
    font-size: rem(15);
    text-align: center;
    margin-bottom: rem(20);
  }
	@if ($colors) {
		&__mainBtn:first-child {
			background: green;
		}
		&__mainBtn:nth-child(2) {
			background: red;
		}
	}
  &__mainBtn:nth-child(n+2) {
    margin-top: rem(15);
  }
  &__mainBtn {
    font-size: rem(25);
    width: rem(200);
    padding: rem(10) 0;
    text-align: center;
    background: $gradient-primary;
    color: $white;
    cursor: pointer;
    border-radius: rem(10);
    transition-duration: .2s;
    user-select: none;
  }
  &__mainBtn:hover {
    transform: scale(0.98);
  }
	@if ($levels) {
		&__btns {
			width: rem(170);
			height: rem(110);
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__btn {
			width: rem(50);
			height: rem(50);
			background: $gradient-primary;
			cursor: pointer;
			border-radius: rem(10);
			transition-duration: .2s;
			user-select: none;
		}
		&__btn:hover {
			background: $gradient-secondary;
			transform: scale(0.9);
		}
		&__row {
			@include Flex(space-between);
			&--center {
				justify-content: center;
			}
			&--width {
				width: rem(200);
			}
		}
	}
}

@mixin Result() {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-around;
	width: rem(500);
	height: rem(350);
	background-color: $white;
	border-radius: rem(10);
	z-index: $modalContent;
	&__title {
		font-size: rem(50);
	}
	&__complete {
		width: rem(400);
	}
	&__text {
		text-align: center;
		font-size: rem(30);
	}
	&__btns {
		@include Flex(space-between);
		width: rem(400);
	}
	&__btn {
		padding: rem(10) rem(20);
		border-radius: rem(10);
		color: $white;
		background: $gradient-primary;
		cursor: pointer;
		transition-duration: .5s;
	}
	&__btn:hover {
		background: $gradient-secondary;
		transform: scale(0.98);
	}
	@include CloseModal($gradient-primary, $red);
}

@mixin CloseModal($color, $colorOnHover) {
	&__close, &__close::before, &__close::after {
		position: absolute;
		width: rem(20);
		content: "";
		transition-duration: .5s;
	}
	&__close {
		top: rem(20);
		right: rem(20);
		height: rem(20);
		cursor: pointer;
	}
	&__close::before, &__close::after {
		top: rem(10);
		height: 1px;
		background: $color;
	}
	&__close::before {
		transform: rotate(45deg);
	}
	&__close::after {
		transform: rotate(135deg);
	}
	&__close:hover::before, &__close:hover::after {
		transform: rotate(360deg);
		height: 3px;
		background: $colorOnHover;
	}
}

@mixin Size($width: 20, $height: 20) {
  width: #{$width}px;
  height: #{$height}px;
}

@mixin Card($size) {
	width: rem($size);
	height: rem($size);
}

@mixin SizeOfEmoji($size) {
	font-size: rem($size);
}

@mixin boxShadow($opacity) {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, $opacity), -1px -1px 10px rgba(0, 0, 0, $opacity);
}